/* Body */
body {
    font-family: 'Comic Sans MS', cursive;
    padding-top: 4.5rem;
    margin: auto;
    transition: background-color 0.3s, color 0.3s;
}

#gambar {
    aspect-ratio: 1 / 1;
}

.card-gambar {
    width: 20rem;
}

.card-video {
    width: 30rem;
}

