/* Body */
body {
    font-family: 'Comic Sans MS', cursive;
    padding-top: 4.5rem;
    margin: auto;
    transition: background-color 0.3s, color 0.3s;
}

#gambar {
    aspect-ratio: 1 / 1;
}

.card {
    width: 30rem;
}

/* .card-gambar {
    width: 30rem;
}

.card-video {
    width: 30rem;
}

.card-audio {
    width: 30rem;
}

.card-audio audio {
    width: 100%;
}

.card-kalkulator {
    width: 30rem;
} */




